.navbar{
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-1{
    display: flex;
    flex-direction: row;
}
.item-2{
    display: flex; 
}
.logo{
    height: 60px;
    width:60px;   
}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar li{
    display: flex;
    align-items: center;
    margin:.5rem;
    padding: .5rem;
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;

}