<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"  />
    <title>Crop List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"  />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/header.css" />
</head>
<body>
    <nav class="navbar"> 
            <ul>
                    <li>
                        <a th:href="@{/index}">Return to Home</a>
                    </li>
                    <li>
                        <a th:href="@{/index}">Contact Us</a>
                    </li>
                    <li>
                        <a th:href="@{/index/cropList}">Crop List</a>
                    </li>
                </ul>
    </nav>
    <h1>List of Crops on Hay-App</h1>
    <ul>
        <li th:each="crop : ${crops}">
            <a th:href="|@{/index/cropList/cropDetail/}${crop.cropId}|"><span th:text="${crop.cropName}"></span></a>
        </li>
    </ul>
    
</body>
</html>