<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" media="screen" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/footer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/layout.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"  />
    <title>Welcome to the Hay App</title>
</head>

<body>
    <nav class="navbar">
        <figure class="item-1"><img src="../Images/hay-icon.png" class="logo" />
            <h2>Hay App</h2>
        </figure>
        <div></div>
        <ul class="item-2">
            <li>
                <a th:href="@{/index}">Home</a>
            </li>
            <li>
                <a th:href="@{/index}">Contact Us</a>
            </li>
            <li>
                <a th:href="@{/index/cropList}">Crop List</a>
            </li>
            <li>
                    <button>
                    <a th:href="@{/home}">Login</a>
                    </button>
                </li>
        </ul>
    </nav>
    <header class="header">
    <h1>Welcome to the Hay-App</h1>
    <div>
    <i class="fas fa-search"></i>
    <input type="text" placeholder="search..." />
    <button>Search</button>
</div>
    </header>
    <main class="container">
    <section class="item">
        <h2>Farmer's</h2>
    <ul>
        <li th:each="farmer : ${farmers}">
            <a th:href="|@{/index/}${farmer.farmerUserName}|">
                <span th:text="${farmer.farmerUserName}"></span>
            </a>
        </li>
    </ul>
</section>
<section class="item">
    <h2>Find Crops</h2>
    <ul>
    <li><a th:href="@{/index/cropList}">Crop List</a></li>
    <li><a href="#">Search by location</a></li>
    <li><a href="#">Search by Delivery</a></li>
</ul>
</section>
</main>
    <footer class="footer">

        <h4>Hay-App</h4>
        <small>Handcrest 2018</small>

    </footer>
</body>

</html>