<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Sign Up</title>
</head>
<body>
    <ul>
        <li> <input type="text" placeholder="First Name" /></li>
        <li> <input type="text" placeholder="Middle Name" /></li>
        <li> <input type="text" placeholder="Last Name" /></li>
        <li> <input type="text" placeholder="Address" /></li>
        <li> <input type="text" placeholder="City" /></li>
        <li> <input type="text" placeholder="State" /></li>
        <li> <input type="text" placeholder="Zip Code" /></li>
        <li> <input type="text" placeholder="Phone-Number" /></li>
        <li> <input type="text" placeholder="Email" /></li>
    </ul>
    <button>Submit</button>
</body>
</html>